.nav-container {
  padding: 12px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 12px;
}

.light-navbar {
  background-color: #ffffff;
}

.dark-navbar {
  background-color: #333333;
}

.light-text {
  color: #dcdcdc;
  text-decoration: none;
}

.dark-text {
  color: #1e293b;
  text-decoration: none;
}

.logo {
  width: 60px;
}

.light-image {
  width: 60px;
  cursor: pointer;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  text-decoration: none;
  margin-left: 16px;
  cursor: pointer;
  font-size: 18px;
}

hr {
  width: 100%;
  color: #334155;
}

.not-visible {
  display: none;
}
